= content_for :scripts do
  = tinymce_javascript_tag 'admin/aga_challenges', 'advanced'
  :javascript
    $(function(){
      tinyMCE.init({
        selector: "textareas",
        mode : "textareas",
        theme : "advanced",
      });
    });

= form_for @aga_information, url: admin_aga_information_url(@aga_information), method: :put , builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
  = field_set_tag 'Información General (Contenido)' do
    .form-actions
      .control-group
        %label.control-label.required{ for: 'aga_information_aga_plan_id' }
          Plan
        .controls
          = f.collection_select :aga_plan_id, @plans, :id, :title
      = f.text_field :title
      = f.text_field :institutions
      = f.text_field :organizations
      = f.text_area :institutions_description, class: 'input-block-level', rows: 4
      = f.text_area :organizations_description, class: 'input-block-level', rows: 4
      = f.text_area :general_info, class: 'input-block-level', rows: 4
      = f.text_area :plan_description, class: 'input-block-level', rows: 4

      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
