
%ul#main-menu.nav.nav-pills.nav-stacked
  %li{ :class => (controller_name == 'dashboard' ? 'active' : nil) }
    = link_to send("admin_root_path") do
      = t('activerecord.controllers.dashboard')
      %i.icon-chevron-right

  %li{ :class => (controller_name == "aga_challenges" ? 'active' : nil) }
    = link_to send("admin_aga_challenges_path"), id: "aga_challenges_menu_item" do
      = t("activerecord.controllers.aga_challenges")
      %i.icon-chevron-right
  %li{ :class => (controller_name == "aga_documents" ? 'active' : nil) }
    = link_to send("admin_aga_documents_path"), id: "aga_documents_menu_item" do
      = t("activerecord.controllers.aga_documents")
      %i.icon-chevron-right
  %li{ :class => (controller_name == "aga_plans" ? 'active' : nil) }
    = link_to send("admin_aga_plans_path"), id: "aga_plans_menu_item" do
      = t("activerecord.controllers.aga_plans")
      %i.icon-chevron-right
  %li{ :class => (controller_name == "aga_responsibles" ? 'active' : nil) }
    = link_to send("admin_aga_responsibles_path"), id: "aga_responsibles_menu_item" do
      = t("activerecord.controllers.aga_responsibles")
      %i.icon-chevron-right
  %li{ :class => (controller_name == "aga_timeline_items" ? 'active' : nil) }
    = link_to send("admin_aga_timeline_items_path"), id: "aga_timeline_items" do
      = t("activerecord.controllers.aga_timeline_items")
      %i.icon-chevron-right
