<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <%= wicked_pdf_stylesheet_link_tag "admin/pdf" -%>
    <%= wicked_pdf_stylesheet_link_tag "admin/information_requests" -%>
  </head>
  <body>
    <div id="content" class="container">
      <%= yield %>
    </div>
  </body>
</html>
