/*
 *= require chosen
 *= require bootstrap-datetimepicker
 *= require fancybox
 *= require jquery.ui.autocomplete
 *= require admin/bootstrap-colorpicker.min
 */

@import 'bootstrap_and_overrides';

/*
 * Colors definition
 */

@dark-gray: #333;
@gray: #e6e6e6;
@light-blue: #29aae3;
@red: #bd362f;
@white: #fff;

.delete-controls {
  line-height: 30px;
}

.text-white {
  color: @white;

  &:hover {
    color: @white;
    text-decoration: none;
  }
}

.mr-10 {
  margin-right: 10px;
}

.thumbnail {
  padding: 15px;
  margin-bottom: 10px;
}

.text-center {
  text-align: center;
}

#main-menu {
  .box-shadow(0 1px 4px rgba(0,0,0,.065));
  &> li a {
    border: 1px solid #e5e5e5;
    .border-radius(0);
    margin: 0 0 -1px;
    padding-right: 34px;
    position: relative;
  }
  &> li:first-child a {
    .border-radius(6px 6px 0 0);
  }
  &> li:last-child a {
    .border-radius(0 0 6px 6px);
  }
  &> li i {
    bottom: middle;
    position: absolute;
    right: 6px;
    top: middle;
  }
  .badge {
    bottom: middle;
    padding-left: 2px;
    padding-right: 2px;
    position: absolute;
    right: 6px;
    top: middle;
  }
}

/* TODO move later */
.institutional-ranking {
  [class^="icon-large"],
  [class*=" icon-large"] {
    background-position: center top;
    background-repeat: no-repeat;
    color: #005085;
    display: inline-block;
    padding-top: 56px;
    text-align: center;
  }
  .icon-large-star {
    background-image: image-url('admin/icon-star.png');
  }

  .big,
  .medium {
    color: #f35927;
    font-weight: bold;
  }

  .big {
    font-size: 50px;
    padding: 15px 0;
  }

  .medium {
    text-transform: uppercase;
  }
}

input[type=text],
input[type=email],
input[type=password],
select,
textarea {
  color: @dark-gray;
}

.checkbox-list {
  list-style: none;
  margin: 0;
  padding: 0;

  label {
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 4px 10px;
  }

  input {
    float: right;
  }

  li {
    margin: 0;
    padding: 0;

    &:nth-child(even) {
      background: lighten(@gray, 5%);
    }

    &:hover {
      background: lighten(@light-blue, 40%);
    }
  }
}

form {
  .fields {
    margin: 10px 0;
    padding: 10px;
    &:nth-child(even) {
      background: lighten(@gray, 5%);
    }
  }
}

.version {
  .border-radius(5px);

  background: lighten(@gray, 8%);
  border: 2px @gray solid;
  margin: 0 0 20px 0;
  padding: 10px;

  ul {
    list-style: none;
    padding: 10px 0 0 0;
  }

  .label {
    .border-radius(5px 0 5px 0);
    font-size: 13px;
    line-height: 20px;
    margin: -12px 0 0 -12px;
  }
}

.translation_missing {
  color: @red;
}

.field-with-errors {
  .control-group.error;

  .message {
    .help-inline;
    color: @red;
  }
}

.panel {
  border: 1px solid #e5e5e5;
  .border-radius(5px);
  .box-shadow(0 1px 4px rgba(0, 0, 0, 0.065));
  background: @white;
}

#filters {
  margin-bottom: 20px;
  padding: 20px 5%;
}

.btn-group > .btn {
  width: auto;
}

#footer_mobile {
  display: none;
}

.btn-accountability{
  font-style: normal;
  padding: 10px 20px;
  margin: 10px 20px 0 0;
  i{
    font-style: normal;
  }
}

.rc-photo-item{
  float: left;
  width: 190px;
  height: 160px;
  margin: 10px 10px 15px 0;
  overflow: hidden;
  .picture-rc-thumb{
    width: 140px;
    float: left;
    overflow: hidden;
  }
  p.picture-rc-institution{
    height: 60px;
    overflow: hidden;
  }
  .action-rc-buttons{
    width: 50px;
    float: left;
  }
}

.left-margin{
  margin-left: 20px !important;
}

#classification_extension{
  display: none;
}

.input-smaller{
  width: 35px !important;
}

.inlinerow {
  //background-color: red !important;

  .control-group{
    float: left !important;
    margin-bottom: 0px;
  }

  .clear {
    clear: both;
  }
}

.day_ {
  margin-bottom: 10px;
}
