/*
 *= require social-share-button
 *= require fancybox
 *= require chosen
*/

@import 'bootstrap_and_overrides';
@import 'shared';
@import 'twitter/bootstrap/responsive'; /* que dsvrg*/

@font-face {
  font-family: montserrat;
  src: font-url('montserrat.eot');
  src: local('montserrat'), font-url('montserrat.ttf') format('truetype');
}

body {
  font-family: montserrat;
}

h1,
h2 {
  font-family: montserrat;
}


.breadcrumb {
  font-size: 12px;
  margin: 0 auto 24px auto;
  padding: 4px 15px;
  width: 930px;

  a {
    color: #003b63;
  }
}


.field-with-errors {
  .control-group.error;

  .message {
    .help-inline;
    color: #b94a48;
  }
}

#signout {
  background: #0064B4;
  color: #fff;

  .container {
    margin: 0 auto;
    padding: 4px 0;
    text-align: right;
  }

  .btn {
    color: #f44;
    margin-left: 10px;
  }
}

#access-denied {
  padding: 100px 80px 50px 80px;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    padding: 20px 0 0 0;
  }
}

#signin {
  margin: 20px auto;
  width: 600px;
}

#searches-index {

  .title {
    color: #808080;
    padding: 10px;
  }

  b {
    font-weight: #000;
  }

  .result {
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #f2f2f2 solid;
    min-height: 56px;
    *height: 56px;
    _height: 56px;
    padding: 10px;

    &:hover {
      background: image-url('infoutil/bg-result.png');
    }
  }

  .name {
    background: image-url('www/icon-list-school.png') no-repeat 0 0;
    padding-left: 20px;
  }
}

header {
  background: #2D2F3C;
  color: #fff;
  box-shadow: none;
  img.logo{
    display: block;
    max-width: 260px;
    width: 100%;
  }
  a{
    color: inherit;
  }
}

.navigation-menu{
  margin-top: 40px;
  a{
    color: #fff !important;
    text-shadow: none;
  }
}

.bg-green {
  background: #84b93e;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background: none;
}

.dropdown-menu li > a {
  color: #333333 !important;
}

.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret, .navbar .nav li.dropdown.active > .dropdown-toggle .caret, .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: white;
  border-bottom-color: white;
}

.button-blue {
  background: #01aef6;
  color: white;
  border-bottom: 4px solid #0064a6;
  padding: 0.2em 1.1em;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
