/*
 *= require social-share-button
 *= require fancybox
*/

@import 'www/general';
@import 'shared';


@font-face {
  font-family: rockeb;
  src: font-url('rockeb.eot');
  src: local('rockeb'), font-url('rockeb.ttf') format('truetype');
}

@font-face {
  font-family: myriadpro;
  src: font-url('myriadpro.eot');
  src: local('myriadpro'), font-url('myriadpro.ttf') format('truetype');
}


/*
#signout {
  background: #0064B4;
  color: #fff;

  .container {
    margin: 0 auto;
    padding: 4px 0;
    text-align: right;
    width: 960px;
  }

  .btn {
    color: #f44;
    margin-left: 10px;
  }
}

#access-denied {
  padding: 100px 80px 50px 80px;
  text-align: center;

  h1 {
    text-transform: uppercase;
  }

  p {
    font-size: 18px;
    padding: 20px 0 0 0;
  }
}

#signin {
  margin: 20px auto;
  width: 600px;
}

#searches-index {

  .title {
    color: #808080;
    padding: 10px;
  }

  b {
    font-weight: #000;
  }

  .result {
    border-top: 1px #e5e5e5 solid;
    border-bottom: 1px #f2f2f2 solid;
    min-height: 56px;
    *height: 56px;
    _height: 56px;
    padding: 10px;

    &:hover {
      background: image-url('infoutil/bg-result.png');
    }
  }

  .name {
    background: image-url('www/icon-list-school.png') no-repeat 0 0;
    padding-left: 20px;
  }
}
*/
