.form-group
  = f.label :name
  .controls
    = f.text_field :name, :class => 'form-control'

.form-group
  = f.label :phone
  .controls
    = f.text_field :phone, :class => 'form-control'

.form-group
  = f.label :email
  .controls
    = f.text_field :email, :class => 'form-control'

.form-group
  = f.label :message
  .controls
    = f.text_area :message, :class => 'form-control', :rows => 6

= textcaptcha_fields(f) do
  .form-group
    = f.label :spam_answer, @contact_message.spam_question
    .controls
      = f.text_field :spam_answer, :value => '', :class => 'form-control'

.form-group
  = f.submit t('helpers.submit.send'), :class => 'btn btn-success', 'data-disable-with' => t('infos.please_wait')
