- if model.exists?

  = link_to '/utilities/programs/csv editor - gobierno abierto.exe', class: 'btn btn-small pull-right' do
    %i.icon-download-alt
    = t '.csv_editor'

  = link_to url_for(action: :csv_example, format: :csv), class: 'btn btn-small pull-right' do
    %i.icon-download-alt
    = t 'label.example_file'

  .clearfix
  %br

= form_for [namespace, @csv_import], url: url_for(action: :csv_import), builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|

  - if @csv_import.errors.any?
    .alert.alert-error
      %ul
        - @csv_import.errors.full_messages.each do |error|
          %li= error

  = f.file_field :csv
  = f.submit t('label.save')
