= content_for :scripts do
  :javascript
    $(document).ready(function(){
      $("form :input").change(function(){
        $(this).closest("form").addClass("changed");
      });
      $("form").submit(function(){
        $(this).removeClass("changed");
      })
      window.onbeforeunload = function(){
        if($("form.changed").length > 0){
          return "#{t('alerts.unsaved_changes')}";
        }
      }
    })

= nested_form_for [namespace, @item], builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
  = render partial: 'form', locals: { f: f }

  .form-actions
    .btn-group
      = f.button t('label.save'), class: 'btn btn-success btn-large'
      = button_tag class: 'btn dropdown-toggle btn-success btn-large', 'data-toggle' => 'dropdown' do
        %span.caret
      %ul.dropdown-menu
        %li
          = link_to 'Guardar y crear nuevo', 'javascript:void(0)', id: 'save-and-new'
