%h1
  = @header

- if @item.new_record? && has_csv_import?

  .tabbable
    %ul.nav.nav-tabs
      %li{ :class => (action_name == 'csv_import' ? nil : 'active') }
        = link_to t('helpers.tabs.manually'), '#normal', 'data-toggle' => 'tab'        
      %li{ :class => (action_name == 'csv_import' ? 'active' : nil) }
        = link_to t('helpers.tabs.csv_file_upload'), '#csv-import', 'data-toggle' => 'tab'

    .tab-content
      #normal.tab-pane.clearfix{ :class => (action_name == 'csv_import' ? nil : 'active') }
        = render partial: 'form_normal'

      #csv-import.tab-pane.clearfix{ :class => (action_name == 'csv_import' ? 'active' : nil) }
        = render partial: 'form_csv_import'

- else
  = render partial: 'form_normal'
