:css
  = "#{Diffy::CSS}"

%h1
  = t '.history_of', name: @item.name
  
- @item.versions.each do |version|
  .version.clearfix    
    %span.label.pull-left
      = t('.history_info', event: t("label.#{version.event.downcase}"), username: User.find(version.whodunnit).email, datetime: l(version.created_at, format: :long))
    
    .clearfix
    %br

    - version.changeset.each do |attribute, changes|
      - if editable_attributes.include? attribute.to_sym
        :ruby      
          associations = @item.class.reflect_on_all_associations
          associations = associations.select { |a| a.macro == :belongs_to }
          association_foreign_keys = associations.map(&:foreign_key)  
        %i
          = @item.class.human_attribute_name(attribute)  
        - if association_foreign_keys.include? attribute
          :ruby
            related_class = attribute.gsub('_id', '').camelize.constantize
            previous_name = related_class.find(changes.first).name if related_class.exists?(changes.first)
            current_name = related_class.find(changes.last).name if related_class.exists?(changes.last)
          %p
            = raw Diffy::Diff.new(previous_name, current_name).to_s(:html)
        - elsif @item.send(attribute).is_a?(FalseClass) || @item.send(attribute).is_a?(TrueClass)   
          - previous_status = t(changes.first.to_s) unless changes.first.nil?
          - current_status = t(changes.last.to_s) unless changes.last.nil?
          = raw Diffy::Diff.new(previous_status, current_status).to_s(:html)
        - else
          = raw Diffy::Diff.new(("#{changes.first}\n"), ("#{changes.last}\n")).to_s(:html)
            



