%h1
  = headline

= link_to t('label.new'), url_for(action: :new), class: 'btn btn-primary pull-right'
.clearfix
%br

- if model.respond_to?(:attributes_for_grid) && can?(:update, model)
  = link_to 'Edición múltiple', admin_edit_grid_url(resources: model.to_s.underscore.pluralize), class: 'btn pull-right'
  .clearfix
  %br

- if @items.any?
  :ruby
    begin
      form_url = url_for(action: :multi_delete)
    rescue
      form_url = url_for(action: :index)
    end
  = form_tag form_url, class: 'multi-delete' do
    .well
      = page_entries_info @items, entry_name: 'item'

    .alert.alert-warning.delete-controls.clearfix
      Seleccionar
      = link_to 'javascript:void(0)', class: 'check-all' do
        Todos
      |
      = link_to 'javascript:void(0)', class: 'uncheck-all' do
        Ninguno

      .pull-right
        = button_tag type: :submit, class: 'btn delete-selected' do
          Eliminar seleccionados
        - begin
          |
          = link_to url_for(action: :delete_all), class: 'btn btn-danger delete-all' do
            Eliminar TODOS los registros
        - rescue
          - nil

    %table.table.table-striped.table-hover.items-list
      %thead
        %tr
          = render 'table_header'
          %th{ colspan: 3 }

      %tbody
        - @items.each do |item|
          %tr

            = render item

            %td{ width: 70 }
              = link_to t('label.edit'), edit_item_path(item), class: 'btn btn-small btn-primary'

            %td{ width: 70 }
              = link_to t('label.delete'), item_path(item), method: :delete, data: { confirm: t('label.confirm_deletion') }, class: 'btn btn-small btn-danger'


  .pull-right
    = will_paginate @items
- else
  .alert.alert-info
    = t '.no_results_found'
