%header.show-line-pattern
  .container
    = render partial: 'layouts/alianza/header'
    .row
      .span5
        .show-title
          %h1
            = "plan <span>aga</span>".html_safe
            = "&nbsp;&nbsp;&nbsp;<span>A</span>lianza <span>G</span>obierno <span>A</span>bierto".html_safe
      .span7
        .show-slogan
          %h2
            = "Herramienta de seguimiento a la implementación de los #{actions_count} compromisos que componen el Plan de Acción <span class='bg-green'>#{current_plan.try(:title)}</span> de El Salvador".html_safe
.show-color-pattern
  &nbsp;
.container.actions
  = render_breadcrumbs

  - if @generals.any?
    %h2.general-info= "Documentos Generales"
    %table.table.table-condensed.table-hover
      %tr
        %th="Titulo"
        %th="Descripción"
        %th="Adjunto"
      - @generals.each do |document|
        %tr
          %td
            = document.title
          %td
            = document.description
          %td
            = link_to number_to_human_size(document.datafile_file_size), document.datafile.url
  - if @documents.any?
    %h2.general-info= "Documentos en Desafíos y Compromisos"
    %table.table.table-condensed.table-hover
      %tr
        %th
        %th="Titulo"
        %th="Descripción"
        %th="Adjunto"
      - @documents.each do |document|
        %tr
          %td
            %strong
              Plan:
            = (document.aga_action.aga_challenge.aga_plan.title rescue '')
            %br
            %strong
              Desafío:
            = (document.aga_action.aga_challenge.title rescue '')
            %br
            %strong
              Acción:
            = document.aga_action.title
          %td
            = document.title
          %td
            = document.description
          %td
            = link_to number_to_human_size(document.datafile_file_size), document.datafile.url
    %center
      = will_paginate @documents
