= f.text_field :title, class: 'input-xxlarge'
= f.text_area :description, class: 'input-block-level', rows: 2
= f.file_field :datafile
- if @item.datafile.present?
  = link_to "Archivo", @item.datafile.url