= nested_form_for [namespace, @item], builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data'} do |f|
  = field_set_tag t('.title') do
    - if @item.errors.any?
      .alert.alert-error
        %ul
          - @item.errors.full_messages.each do |error|
            %li= error

    = render partial: 'form', locals: { f: f }

    .form-actions
      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
