= render_breadcrumbs

.clearfix
  .pull-left
    %h1
      = "Plan AGA - Documentos Generales"
  .pull-right
    = link_to 'Añadir Documento', new_admin_aga_document_url, class: 'btn btn-primary btn-small'
  .clearfix
  %hr
- if @aga_documents.size > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th
          Titulo
        %th
          Descripcion
        %th{ colspan: 2 }
    %tbody
      - @aga_documents.each do |f|
        %tr
          %td
            = f.title
          %td
            = f.description.truncate(250, omission: '...')
          %td
            = link_to edit_admin_aga_document_url(f), class: 'btn btn-info btn-small', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-pencil=" Editar"
          %td
            = link_to admin_aga_document_url(f), method: :delete, data: { confirm: t('label.confirm_deletion'), toggle: 'tooltip', placement: 'top' }, class: 'btn btn-small btn-danger' do
              %i.icon-trash= " Eliminar"
- else
  .alert.alert-info
    No existen documentos en el registro de Plan AGA
