%header.show-line-pattern
  .container
    = render partial: 'layouts/alianza/header'
    .row
      .span5
        .show-title
          %h1
            = "plan <span>aga</span>".html_safe
            = "&nbsp;&nbsp;&nbsp;<span>A</span>lianza <span>G</span>obierno <span>A</span>bierto".html_safe
      .span7
        .show-slogan
          %h2
            = "Herramienta de seguimiento a la implementación de los #{actions_count} compromisos que componen el Plan de Acción #{current_plan.title} de El Salvador"
.show-color-pattern
  &nbsp;

.container.actions
  = render_breadcrumbs
  %h2
    = challenge_action.title
  .action-record
    .hidden-desktop
      %p.description
        = challenge_action.description
    .action-description
      %p.description.visible-desktop
        = challenge_action.description
      .action-item
        %h3= "Actualizaciones"
      - if @timeline.size > 0
        #timeline-actions
          - @timeline.each_with_index do |item, i|
            .action-comment
              %a{href: "#item#{item.id}", class: "#{i == 0 ? 'selected-item' : ''} timeline-title"}= item.created_at.try(:strftime, '%d - %b - %Y')
              %div{id: "item#{item.id}", class: "item-comment"}
                .image_comment
                  - if item.datafile.present?
                    - if item.image?
                      = link_to(image_tag(item.datafile.url, title: "Descargar archivo"), item.datafile.url, target: '_blank')
                    - else
                      = link_to(image_tag("alianza/attachment_icon.png", title: "Descargar archivo"), item.datafile.url)
                  - else
                    = image_tag("alianza/comment_icon.png")
                .content_comment
                  %h2= item.title
                  - if item.aga_responsible_id.present?
                    %p
                      %strong
                        Responsable:
                      = item.aga_responsible.name rescue ''
                  - if item.description.length <= 250
                    %p
                      %strong
                        Descripción:
                      = auto_link item.description
                  - else
                    %p.accordion-summary-content
                      = item.description.truncate(250, omission: '...')
                    %p.accordion-content
                      = item.description
                  - if item.datafile.present?
                    = link_to "Descargar archivo (#{number_to_human_size(item.datafile_file_size)})", item.datafile.url, target: '_blank'
                .clearfix
              .clearfix
    .action-indicators
      .action-item
        %h3= "Plazo"
        %p.deadline= l(challenge_action.deadline, format: :resume).try(:capitalize)
        %h3= "Avances"
        %p.statistic
          %input{ type: "hidden", class: "range-slider", value: "#{challenge_action.percentage.to_s}", status: "#{@status}"}
          :javascript
      .action-item
        %h3= "Indicadores"
        .indicators-container
          %ul.bxslider
            - challenge_action.aga_indicators.each do |indicator|
              %li
                .slide
                  = indicator.title
      .action-item
        %h3= "Responsables"
        %ul
          - array1 = challenge_action.institutions.split(';')
          - array1.each_with_index do |string, i|
            %li
              = string
        %h3= "Corresponsables"
        %ul
          - array2 = challenge_action.managers.split(';')
          - array2.each_with_index do |string, i|
            %li
              = string
      -# .action-item
      -#   %h3= "Documentos producidos"
      -#   - challenge_action.aga_timeline_items.each_with_index do |item, i|
      -#     - if item.datafile.present?
      -#       %p.download-item
      -#         = link_to item.title, item.datafile.url

  #disqus_thread
  :javascript
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'agasv';
    var disqus_identifier = "#{challenge.slug}";
    var disqus_title = "#{challenge.slug}";
    var disqus_url = "#{alianza_aga_challenge_aga_action_url(challenge, challenge_action)}";

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();

  %noscript
    = "Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript' rel='nofollow'>comments powered by Disqus.</a>".html_safe
