= content_for :scripts do
  = javascript_include_tag 'www'

.container
  .row
    .col-sm-12
      #signIn
        %h1
          = "Usuarios"
        = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-horizontal"}) do |f|

          = field_set_tag t '.sign_in' do
            .form-group
              = f.label :email, class: 'col-sm-3 control-label'
              .col-sm-9
                = f.email_field :email, class: 'form-control'
            .form-group
              = f.label :password, class: 'col-sm-3 control-label'
              .col-sm-9
                = f.password_field :password, class: 'form-control'
            - if devise_mapping.rememberable?
              .form-group
                = f.label :remember_me, class: 'col-sm-3 control-label'
                .col-sm-9
                  = f.check_box :remember_me
            .col-md-offset-3.col-sm-9
              .form-actions.well
                = f.submit t('.sign_in'), class: 'btn btn-success btn-large'
          = #render 'devise/shared/links'
      .clearfix
