= f.text_field :title, class: 'input-xxlarge'
= f.text_area :description, class: 'input-block-level', rows: 4
= f.text_field :percentage

= f.check_box :disabled

= f.text_field :institutions, class: 'input-xxlarge'
= f.text_field :managers, class: 'input-xxlarge'
.control-group
  %label.control-label.required
    = t('activerecord.attributes.aga_action.deadline')
  .controls      
    = f.date_select :deadline, { class: 'input-small' }

= field_set_tag t('.indicators') do
  = f.fields_for :aga_indicators do |ff|
    = render partial: 'aga_indicators', locals: { f: ff }
  = f.link_to_add :aga_indicators, class: 'pull-right btn' do
    = t('.add_indicator')
    %i.icon-plus-sign
  .clearfix