<% if @success %>
  window.location.replace("<%= admin_aga_challenge_aga_actions_url %>");
<% else %>
  form = $("form#new_aga_action");
  errors = $.parseJSON("<%= j @errors %>");
  new ErrorDisplayer(form, errors);
  <% flash.discard %>
<% end %>
