= render_breadcrumbs
.clearfix
= nested_form_for challenge_action, url: admin_aga_challenge_aga_action_path(challenge, challenge_action), builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
  = field_set_tag t('.title') do
    = render partial: 'form', locals: { f: f }

    .form-actions
      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
