= render_breadcrumbs

.clearfix
  .pull-left
    %h1
      = "Acciones para " + challenge.title
  .pull-right
    = link_to 'Crear Acción', new_admin_aga_challenge_aga_action_url(challenge), class: 'btn btn-primary btn-small'
- if @challenge_actions.size > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th
          Acciones
        %th
          Número de indicadores
        %th{ colspan: 3 }
    %tbody
      - @challenge_actions.each do |f|
        %tr
          %td
            = f.title
          %td
            = f.aga_indicators.count rescue 0
          %td
            = link_to admin_aga_challenge_aga_action_url(challenge, f), class: 'btn btn-primary btn-small', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-eye-open= " Ver detalle"
          %td
            = link_to edit_admin_aga_challenge_aga_action_url(challenge, f), class: 'btn btn-info btn-small', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-pencil=" Editar"

          %td

            = link_to admin_aga_challenge_aga_action_url(challenge, f), method: :delete, data: { confirm: t('label.confirm_deletion'), toggle: 'tooltip', placement: 'top' }, class: 'btn btn-small btn-danger' do
              %i.icon-trash= " Eliminar"

- else
  .alert.alert-info
    No tiene acciones creadas para este desafío
