= render_breadcrumbs
.clearfix
= nested_form_for challenge_action, url: admin_aga_challenge_aga_actions_path(challenge), builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
  = field_set_tag t('.title') do
    = render partial: 'form', locals: { f: f }

    .form-actions
      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
        = button_tag class: 'btn dropdown-toggle btn-success btn-large', 'data-toggle' => 'dropdown' do
          %span.caret
        %ul.dropdown-menu
          %li
            = link_to 'Guardar y crear nuevo', 'javascript:void(0)', id: 'save-and-new'
