.custom-nav{
  background: none;
  border: none;
}

h1{
  text-transform: uppercase;
  line-height: 1;
}

h1, h3{
  text-align: center;
  font-weight: normal;
  span{
    color: #F8931E;
  }
}

.index-title{
  h1{
    font-size: 5.7em;
  }
  h3{
    margin: 0 0 15px;
    font-size: 1.7em;
  }
}

.index-slogan{
  h2{
    font-size: 1.8em;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
  }
}

h5{
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 30px;
}

.index-line{
  max-width: 650px;
  width: 100%;
  margin: 20px auto;
  border-style: solid none;
  border-width: 1px 0;
}

.index-line-pattern{
  background: image-url('alianza/pattern-line.png') no-repeat center center #2D2F3C;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 70px 10px 50px;
}

a.btn-custom-plan, .btn:hover.btn-custom-plan{
  background: #01aef6;
  display: block;
  margin: 0 auto;
  border-bottom: 5px solid #0064a6;
  border-top: 1px solid #fff;
  border-radius: 4px;
  max-width: 250px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
}

.upper-info{
  text-align: center;
  color: #fff;
  font-size: 1.8em !important;
  a, a:hover{
    color: inherit;
    text-decoration: none;
    font-size: 0.7em;
  }
}

.index-image{
  text-align: center;
  display: block;
  margin: 20px auto 0;
  height: 60px;
}

h1.general-info{
  text-align: left;
  font-size: 2em;
}

h2.general-info{
  margin: 5px 0;
  color: #F8931E;
  font-size: 1.4em;
}

.index-color-pattern{
  padding: 15px 0;
  background: image-url('alianza/pattern-color.png') repeat-x center bottom #2D2F3C;
}

.challenges-filters{
  background: #E6E6E6;
  padding: 20px 0 10px;
  text-transform: uppercase;
  h2{
    text-align: left;
    font-size: 1.8em;
    font-weight: normal;
    margin: 15px 0 20px;
  }
}

/* override chosen */
.chosen-container-single .chosen-single{
  height: 30px !important;
  padding: 4px 10px 26px 15px !important;
  margin-top: 14px;
  font-size: 1.08em;
}

.chosen-container-single .chosen-single div{
  top: 4px !important;
}

/* override bootstrap */
select.input-xlarge{
  width: 300px;
}

.navbar{
  margin-bottom: 0px;
}


.navigation-menu{
  margin-top: 5px;
  ul.nav{
    margin-top: 20px;
  }
}

.navbar-inner{
  box-shadow: none;
}


#challenges{
  h2{
    text-align: left;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
  }
  .challenge{
    margin: 15px 0;
    a.btn-custom-plan, .btn:hover.btn-custom-plan{
      max-width: 50px;
      padding: 5px 11px;
      margin-top: 10px;
    }
  }
}

.circle{
  width: 45px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  background: red;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  color: #fff;
  font-size: 1.5em;
  margin-right: 25px;
}

.action-id, .action-title{
  display: table-cell;
  margin-bottom: 25px;
}

.action-title{
  vertical-align: top;
  a{
    color: inherit;
  }
}

.show-line-pattern{
  background: image-url('alianza/pattern-line.png') no-repeat center center #2D2F3C;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.show-title{
  h1{
    text-align: left;
    font-size: 1.4em;
    margin: 0 10px 20px 20px;
    line-height: 2;
  }
}
.show-slogan{
  h2{
    font-size: 1em;
    margin: 0 10px 20px 20px;
    line-height: 1.5;
    padding: 0;
    font-weight: normal;
  }
}

.show-color-pattern{
  padding: 5px 0;
  background: image-url('alianza/pattern-color.png') repeat-x center bottom #2D2F3C;
}

.actions{
  padding: 15px 0;
  .breadcrumb{
    padding: 4px 0 4px 10px !important;
    width: auto !important;
    margin: 0 auto 14px !important;
  }
  h2{
    font-size: 1.2em;
    font-weight: normal;
    text-transform: initial;
  }
}

.action-record{
  .action-description, .action-indicators{
    padding-right: 1%;
    float: left;
  }
  .action-description{
    width: 64%;
    h3{
      color: #39B54B;
      text-align: left;
      font-size: 1.2em;
      margin: 5px 0px;
    }
  }
  .action-indicators{
    width: 34%;
    .action-item{
      width: auto;
      margin: 5px 5px 10px;
      padding: 5px 10px 20px;
      background: #f2f2f2;
      border-bottom: 3px solid #ccc;
      h3{
        color: #39B54B;
        text-align: left;
        font-size: 1em;
        margin: 5px 10px;
      }
      .indicators-container{
        font-size: 0.8em;
      }
      p{
        padding: 0 10px 10px;
      }
      p.deadline{
        color: red;
      }
      p.statistic{
        text-align: center;
        padding: 0;
      }
      p.download-item{
        border-bottom: 1px solid #ddd;
        padding: 0 0 10px;
        margin: 5px 10px;
        a{
          font-size: 0.8em;
        }
      }
    }
  }
}

p.general{
  background: #f7f7f7;
  padding: 20px;
  margin-bottom: 10px;
  line-height: 2;
}

#timeline-actions {
  width: 100%;
  margin: 40px auto;
  background: url('dot.png') 7px top repeat-y;
  .action-comment{
    list-style: none;
    width: 100%;
    padding:0px 10px 20px 30px;
    background: url('bigdot.png') left 0 no-repeat;
    .timeline-title{
      display: block;
      margin-bottom: 15px;
      color: #333;
    }
    h2{
      margin: 0 0 5px;
      font-size: 1.2em;
      color: #0272BC;
      line-height: 1.5;
    }
    .item-comment{
      .image_comment, .content_comment{
        float: left;
      }
      .image_comment{
        max-width: 75px;
        margin-right: 15px;
      }
      .content_comment{
        padding: 0 15px;
        width: 80%;
        line-height: 1.5;
      }
    }
  }
}

.slide{
  margin: 0 55px 0 35px;
  min-height: 80px;
}

p.description{

}

@media (max-width: 62em) {
  .action-record {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }

  .action-record .action-description {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    width: auto;
  }

  .action-record .action-indicators {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    width: 100%;
    padding: 10px 0;
    .action-item{
      margin: 10px 0;
    }
  }

  #timeline-actions {
    margin: 20px auto;
    .action-comment{
      .item-comment{
        float: left;
        .image_comment, .content_comment{
          float: left;
        }
        .image_comment{
          max-width: 50px;
        }
        .content_comment{
          width: 80%;
        }
      }
    }
  }

}
