%header.show-line-pattern
  .container
    = render partial: 'layouts/alianza/header'
    .row
      .span5
        .show-title
          %h1
            = "plan <span>aga</span>".html_safe
            = "&nbsp;&nbsp;&nbsp;<span>A</span>lianza <span>G</span>obierno <span>A</span>bierto".html_safe
      .span7
        .show-slogan
          %h2
            = "Herramienta de seguimiento a la implementación de los 20 compromisos que componen el Plan de Acción 2014 – 2016 de El Salvador"
.show-color-pattern
  &nbsp;

.container.actions
  = render_breadcrumbs
  %h1.general-info
    = "Quiénes somos"
  %p.general
    = " El observatorio es un ente no vinculante de carácter consultivo, un espacio permanente de diálogo, retroalimentación, seguimiento y evaluación de la implementación de los planes de acción que se presenten ante la Alianza para el Gobierno Abierto. Está integrado por representantes de organizaciones de la sociedad civil (OSC), del sector empresarial e instituciones académicas legalmente constituidas, instituciones gubernamentales y otras organizaciones que voluntariamente se quieran integrar.<br><br>El Observatorio es de libre adhesión, podrán incorporarse las organizaciones que así lo deseen por medio de una carta dirigida a la SPCTA en la que se designe al representante de la organización que participará en el mismo. Su incorporación será efectiva en la próxima reunión del observatorio por medio de la firma de esta acta frente a los otros miembros del mismo. ".html_safe