%header
  .container
    = render partial: 'layouts/alianza/header'
    .index-title
      %h3
        = "OBSERVATORIO"
      %h1
        = "plan <span>aga</span>".html_safe
      .clearfix
      %h3
        = "<span>A</span>lianza <span>G</span>obierno <span>A</span>bierto".html_safe
    .index-line
    .index-slogan
      %h2
        - if current_plan
          = "Herramienta de seguimiento a la implementación de los #{actions_count} compromisos que componen el Plan de Acción <span class='bg-green'>#{current_plan.title}</span> de El Salvador".html_safe
        - else
          = "Herramienta de seguimiento a la implementación de los N compromisos que componen el Plan de Acción <span class='bg-green'>X</span> de El Salvador".html_safe
    .clearfix

.clearfix
- if current_plan
  .index-line-pattern.upper-info
    .container
      .row
        - if current_plan.datafile.present?
          .span4
            .index-image
              = link_to image_tag("alianza/icon-plan.png"), current_plan.datafile.url, target: '_blank'
            %br
            = link_to 'Descargar el plan', current_plan.datafile.url, class: 'button-blue', target: '_blank'
        .span4
          .index-image
            = link_to image_tag("alianza/icon_organizations.png"), information_aga_challenges_url(anchor: "institutions")
          %br
          = link_to (@aga_information.try(:institutions).to_s || "0") + " Responsables", information_aga_challenges_url(anchor: "institutions"), class: 'button-blue'
        .span4
          .index-image
            = link_to image_tag("alianza/icon_files.png"), documents_url
          %br
          = link_to 'Listado de documentos', documents_url, class: 'button-blue'
      .clearfix
    =# link_to "Ver los avances del plan", apps_root_url(anchor: "test"), class: "btn btn-custom-plan"
  .clearfix
  .index-color-pattern
    &nbsp;
  .challenges-filters
    .container
      .row
        .span6
          %h2
            Desafíos y compromisos del plan AGA
        .span6
          .pull-right
            = select_tag "challenges", options_for_select(@challenges.map{ |s| [s.title.mb_chars.upcase.to_s, s.id] }), :prompt => 'filtrar por desafío', class: "chosen input-xlarge pull-right"
  #challenges
    .container
      - index = 1
      - @challenges.each do |challenge|
        %div{ class: "challenge", id: "challenge#{challenge.id}" }
          %h2
            = challenge.title
          %h5
            = challenge.description if !challenge.description.nil?
          - challenge.aga_actions.each do |challenge_action|
            -# - days = (challenge_action.deadline - Date.current).to_i
            -# - days = 0 if challenge_action.percentage.to_i == 100
            -# - status = days >= 0 ? "theme-green" : (days < 0 && days >= -14) ? "theme-yellow" : "theme-red"
            - percent = challenge_action.percentage.to_i
            - status = percent <= 25 ? 'theme-red' : ( percent <= 50 ? 'theme-orange' : ( percent <= 75 ? 'theme-yellow' : 'theme-green' ) )
            .row
              .span6
                .action-id
                  .circle{ style: "background: #{challenge.color.to_s};"}
                    = index
                .action-title
                  = link_to challenge_action.title, alianza_aga_challenge_aga_action_path(challenge, challenge_action)
                .clearfix
              .span6
                - if challenge_action.disabled == 0
                  %input{ type: "hidden", class: "range-slider", value: "#{challenge_action.percentage.to_s}", status: "#{status}"}
                - else
                  %input{ type: "hidden", class: "range-slider", value: 0, status: "#{status}"}
                  %br
                  = "OFICIALMENTE RETIRADO"
                .pull-right
                  = link_to " > ", alianza_aga_challenge_aga_action_path(challenge, challenge_action), class: "btn btn-custom-plan", title: "Ver más"
                .clearfix
            %hr
            - index += 1
:javascript
  $('.range-slider').jRange({
    from: 0,
    to: 100,
    step: 1,
    scale: [0,25,50,75,100],
    format: '%s%',
    width: 300,
    theme: $(this).attr('status'),
    showLabels: true,
    disable: true
  });
