%header.show-line-pattern
  .container
    = render partial: 'layouts/alianza/header'
    .row
      .span5
        .show-title
          %h1
            = "plan <span>aga</span>".html_safe
            = "&nbsp;&nbsp;&nbsp;<span>A</span>lianza <span>G</span>obierno <span>A</span>bierto".html_safe
      .span7
        .show-slogan
          %h2
            = "Herramienta de seguimiento a la implementación de los #{actions_count} compromisos que componen el Plan de Acción <span class='bg-green'>#{current_plan.title}</span> de El Salvador".html_safe
.show-color-pattern
  &nbsp;

.container.actions
  = render_breadcrumbs
  - if @information
    %h1.general-info
      = @information.try(:title) || "Información General"
    %br
    - unless @information.institutions_description.nil?
      %section#institutions
        %h2.general-info
          = "Responsables"
        .well
          = @information.institutions_description.html_safe rescue ""
    - unless @information.organizations_description.nil?
      %section#organizations
        %h2.general-info
          = "Corresponsables"
        .well
          = @information.organizations_description.html_safe rescue ""
    %h2.general-info= @average.to_s + "% de avance"
    - unless @information.plan_description.blank?
      %section#plan_description.well
        = @information.plan_description.html_safe rescue ""
    - unless @information.general_info.blank?
      %section#general_info.well
        = @information.general_info.html_safe rescue ""
  %br
  %br
