.control-group
  %label.control-label.required
    = t('activerecord.attributes.aga_timeline_item.challenge')
  .controls
    = select_tag 'aga_challenge', options_for_select(@challenges.map{ |s| [s.full_title.to_s, s.id] }, f.object.aga_action.try(:aga_challenge_id)), prompt: "Desafios", :class => 'input-xxlarge timelineable', :action => 'get_challenge_actions', :target => 'aga_action_id'
.control-group
  %label.control-label.required
    = t('activerecord.attributes.aga_timeline_item.aga_action_id')
  .controls
    = select_tag 'aga_action_id', options_for_select(@aga_actions.nil? ? [] : @aga_actions.map{ |c| [c.title.to_s, c.id] }, f.object.aga_action_id), prompt: "Acciones", class: "input-xxlarge"
= f.select :aga_responsible_id, options_for_select(@responsibles.map{ |c| [c.name, c.id] }, f.object.aga_responsible_id), prompt: "Responsable", class: "input-xxlarge"
= f.text_field :title, class: 'input-xxlarge'
= f.text_area :description, class: 'input-block-level', rows: 2
= f.file_field :datafile
- if @item.datafile.present?
  = link_to "Archivo", @item.datafile.url
