@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  
  50% {
    opacity: 0.5;
    transform: scale(.9);
  }
  
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  
  50% {
    opacity: 0.5;
    transform: scale(.9);
  }
  
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  
  50% {
    opacity: 0.5;
    transform: scale(.9);
  }
  
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  
  50% {
    opacity: 0.5;
    transform: scale(.9);
  }
  
  70% {
    opacity: 1;
    transform: scale(1.1);
  }
  
  100% {
    transform: scale(1);
  }
}