.twitter-container{
  display: table;
  .twitter-icon, .tweet-content{
    display: table-cell;
    color: #8ABACF;
    font-size: 14px;
    vertical-align: top;
    line-height: 2;
    a{
      color: #4BA8D0;
    }
  }
  .twitter-icon{
    margin-right: 20px;
  }
}


#subscribe{
  padding: 30px 0;
  background-color: #054261;
  h3, p{
    color: #fff;
  }
  h3{
    margin: 0 0 10px;
  }
}

footer{
  padding-top: 25px;
  background: #022B3F;
  color: #fff;
  p.contact-info{
    color: inherit;
    font-size: 0.85em;
    margin: 10px 0;
  }
  .categories{
    text-transform: uppercase;
    ul{
      list-style: none;
      li{
        margin: 20px 0;
        a{
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
  .footer-cc-logo, .footer-social-media, p.contact-info{
    padding: 5px 15px 5px 10px;
  }
  .footer-social-media{
    a{
      margin-bottom: 20px;
      display: flex;
    }
  }

}

#footer {
  border-top: 2px #e6e6e6 solid;
  background: #fff;

  .footer-container {
    margin: 0 auto;
    padding: 30px 0;
    width: 960px;
  }

  .main,
  .logos,
  p {
    float: left;
  }

  .main {
    border-right: 1px #e6e6e6 solid;
    text-align: center;
    width: 295px;
  }

  .logos {
    padding: 10px 0 0 30px;

    a {
      margin-left: 20px;
    }
  }

  p {
    color: #575757;
    font-size: 13px;
    padding: 20px 50px;
  }

  .small {
    color: #fff;
    cursor: default;
    font-size: 1px;

    &:hover {
      text-decoration: none;
    }
  }
}

.social-share-button {
  left: 10px;
  position: fixed;
  top: 200px;
  z-index: 1;

  a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 72px;
    width: 72px;

    &.social-share-button-google_plus {
      background-image: image-url('shared/icon-google-plus.png');
    }

    &.social-share-button-facebook {
      background-image: image-url('shared/icon-facebook.png');
    }

    &.social-share-button-twitter {
      background-image: image-url('shared/icon-twitter.png');
    }
  }
}

#top .social-share-button, #footer .social-share-button, .top .social-share-button {
  float: right;
  left: 0;
  position: relative;
  top: 0;
  z-index: 0;
  a {
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 26px;
    width: 26px;
    margin-left: 10px !important;
    float: left;

    &.social-share-button-google_plus {
      background-image: image-url('shared/social-googleplus-small.png');
    }

    &.social-share-button-facebook {
      background-image: image-url('shared/social-facebook-small.png');
    }

    &.social-share-button-twitter {
      background-image: image-url('shared/social-twitter-small.png');
    }
  }
}

#top .social, .top .social {
  margin: 0 auto;
  padding-bottom: 10px;
}
#top .social {
  width: 960px;
}
#top .vignette {
  position: absolute;
  right: 0;
  top: 0;
}

#footer_mobile {
  display: none;
}
