#filters.panel.clearfix
  = search_form_for @q, url: admin_users_path do |f|
    = f.label :name_or_email_cont
    = f.text_field :name_or_email_cont, class: 'span12'

    = f.label :role_name_cont
    = f.text_field :role_name_cont, class: 'span12'

    .form-actions
      = button_tag type: 'submit', class: 'btn btn-success' do
        = t '.search'
