= field_set_tag t('.general') do
  = f.check_box :active
  = f.text_field :email
  = f.text_field :name
  =# f.select :role_id, @roles.map{ |role| [role.name, role.id] }, :prompt => true

  = f.password_field :password, autocomplete: 'off'
  = f.password_field :password_confirmation, autocomplete: 'off'
