= javascript_include_tag "admin/bootstrap-colorpicker.min"

.control-group
  %label.control-label.required{ for: 'aga_challenge_aga_plan_id' }
    Plan
  .controls
    = f.collection_select :aga_plan_id, @plans, :id, :title
= f.text_field :title
= f.text_area :description, rows: 3
= f.text_field :color, class: "colorpicker-element"
:javascript
  $('.colorpicker-element').colorpicker({

  });
