<% if @success %>
  window.location.replace("<%= admin_aga_challenges_url %>");
<% else %>
  form = $("form#new_aga_challenge");
  errors = $.parseJSON("<%= j @errors %>");
  new ErrorDisplayer(form, errors);
  <% flash.discard %>
<% end %>
