= nested_form_for [namespace, @item], builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data', remote: true, class: 'edit_aga_challenge' } do |f|
  = field_set_tag t('.title') do
    = render partial: 'form', locals: { f: f }

    .form-actions
      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
