= content_for :scripts do
  = tinymce_javascript_tag 'admin/aga_challenges', 'advanced'
  :javascript
    $(function(){
      tinyMCE.init({
        selector: "textareas",
        mode : "textareas",
        theme : "advanced",
      });
    });

= form_for @aga_information, as: :aga_information, url: save_general_info_admin_aga_challenges_url(@aga_information), method: :post , builder: BootstrapFormBuilder, html: { class: 'form-horizontal', enctype: 'multipart/form-data' } do |f|
  = field_set_tag t('.title') do
    .form-actions
      = f.text_field :title
      = f.text_field :institutions
      = f.text_field :organizations
      = f.text_area :institutions_description, class: 'input-block-level', rows: 4
      = f.text_area :organizations_description, class: 'input-block-level', rows: 4
      = f.text_area :general_info, class: 'input-block-level', rows: 4
      = f.text_area :plan_description, class: 'input-block-level', rows: 4

      .btn-group
        = f.button t('label.save'), class: 'btn btn-success btn-large'
