.clearfix
  .pull-left
    %h1
      Plan AGA - Desafíos
  .pull-right
    = link_to 'Crear Desafío', new_admin_aga_challenge_url, class: 'btn btn-primary btn-small fancybox'
- if @challenges.size > 0
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th
          Plan
        %th
          Desafíos
        %th
          Número de acciones
        %th{ colspan: 3 }
    %tbody
      - @challenges.each do |f|
        %tr
          %td
            = f.aga_plan.try(:title)
          %td
            = f.title
          %td
            = f.aga_actions.count
          %td
            = link_to admin_aga_challenge_aga_actions_url(f), class: 'btn btn-primary btn-small', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-eye-open= " Ver acciones"
          %td
            = link_to edit_admin_aga_challenge_url(f), class: 'btn btn-info btn-small fancybox', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-pencil=" Editar"
          %td
            = link_to admin_aga_challenge_url(f), method: :delete, data: { confirm: t('label.confirm_deletion'), toggle: 'tooltip', placement: 'top' }, class: 'btn btn-small btn-danger' do
              %i.icon-trash= " Eliminar"
- else
  .alert.alert-info
    No tiene desafíos creados
.clearfix
  .pull-left
    %h1
      Plan AGA - Contenido (Pagina Interna)
  .pull-right
    = link_to 'Crear contenido', new_admin_aga_information_url, class: 'btn btn-primary btn-small'
.clearfix
- if @informations.any?
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th
          Plan
        %th
          Título
        %th
          Información General
        %th{ colspan: 2 }

    %tbody
      - @informations.each do |info|
        %tr
          %td
            = info.aga_plan.try(:title)
          %td
            = info.title
          %td
            = sanitize info.general_info
          %td
            = link_to edit_admin_aga_information_url(info), class: 'btn btn-info btn-small', data: { toggle: 'tooltip', placement: 'top' } do
              %i.icon-pencil=" Editar"
          %td
            = link_to admin_aga_information_url(info), method: :delete, data: { confirm: t('label.confirm_deletion'), toggle: 'tooltip', placement: 'top' }, class: 'btn btn-small btn-danger' do
              %i.icon-trash= " Eliminar"
- else
  No existe contenido
%br
%br
-# = link_to 'Página de contenido para Plan AGA', general_info_admin_aga_challenges_url, class: 'btn btn-primary btn-small'
