!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : t('.title')
    = csrf_meta_tags

    = stylesheet_link_tag 'layouts/admin', :media => 'all'

    = yield :stylesheets

    = javascript_include_tag "jquery"
    = javascript_include_tag "jquery-migrate-1.1.0"
    = include_default_scripts

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"

    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="images/favicon.ico" rel="shortcut icon")
  %body

    =# #attention-notifications{ 'data-info' => @attention_notifications }
    #top.navbar.navbar-inverse
      .navbar-inner.clearfix
        = link_to admin_root_path, class: 'brand' do
          = image_tag 'admin/logo.png'
          = t('.title')
        %ul.nav.pull-right
          - if user_signed_in?
            %li.dropdown
              = link_to "#", class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                .clearfix
                  .pull-left.mr-10
                    = image_tag(current_user.avatar.url(:mini))
                  .pull-left
                    = current_user.name
                    %b.caret
                    %br
                    =# current_user.role_name
              %ul.dropdown-menu
                %li
                  = link_to edit_admin_profile_path do
                    %i.icon-pencil
                    = t('admin.profiles.edit.edit_profile')
                %li
                  -# link_to admin_user_widgets_path do
                    %i.icon-book
                    = t('.configure_dashboard')
                %li.divider
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i.icon-off
                    = t('devise.sign_out')
          - else
            %li
              = link_to(t('devise.sign_in'), new_user_session_path)

    .container-fluid

      .row-fluid
        - if devise_controller?
          #container.span12
            = bootstrap_flash
            = yield

        - else
          #left-bar.span3
            = render partial: 'filters' rescue nil
            = render :partial => 'layouts/admin/menu'

          #container.span9
            = bootstrap_flash
            = yield
