!!! 5
%html
  %head
    %title="Gobierno Abierto - Plan Alianza Gobierno Abierto"
    = favicon_link_tag 'favicon.ico'
    %meta{:charset => "utf-8"}
    %meta(property="og:title" content="Observatorio Gobierno Abierto")
    %meta(property="og:site_name" content="Gobierno Abierto - Plan Alianza Gobierno Abierto")
    %meta(property="og:description" content="Herramienta de seguimiento de la implementación de los 26 compromisos que componen el Plan de Acción 2014-2018 de la Alianza para el Gobierno Abierto")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tags

    - if content_for? :stylesheets
      = yield :stylesheets
    - else
      = stylesheet_link_tag 'layouts/alianza', 'alianza/challenges', 'alianza/jquery.range','alianza/jquery.timelinr', "alianza/jquery.bxslider", :media => 'all'

    = include_default_scripts
    = javascript_include_tag "alianza/jquery.range", "alianza/jquery.timelinr", "alianza/jquery.bxslider.min", "alianza"

    =# render :partial => 'layouts/www/google-analytics'

  %body
    .clearfix
    = bootstrap_flash

    = yield
    = render partial: 'layouts/alianza/footer'
