!!! 5
%html(lang='es')
  %head
    %title= content_for?(:title) ? yield(:title) : t('www.layout.title')

    / metas
    = render partial: 'layouts/www/metas'
    = stylesheet_link_tag "bootstrap.min", "bootstrap-theme.min", 'lightslider', 'lightgallery.min', 'jquery.share', 'fancybox', 'gmaps4rails', 'layouts/www', 'www/general', "shared", media: 'all'
    = javascript_include_tag "jquery", "jquery-migrate-1.1.0"
    = include_default_scripts

    = render partial: 'layouts/www/google-analytics'

    - if controller_name != "applicatives" && controller_name != "sessions"
      .header-pages
        = render partial: 'layouts/www/top'
      .breadcrumb-wrap
        .container
          = render_breadcrumbs
    - elsif controller_name == "sessions"
      .header-pages-alt
        = link_to image_tag("shared/gobierno-abierto-logo-alt.png"), root_url

    .container
      = bootstrap_flash
    = yield

    = render partial: 'layouts/www/footer'
-#
  !!! 5
  %html(lang='es')
    %head
      %title= content_for?(:title) ? yield(:title) : t('www.layout.title')

      / metas
      = render :partial => 'layouts/www/metas'

      - if content_for? :stylesheets
        = yield :stylesheets
      - else
        = stylesheet_link_tag 'layouts/www', :media => 'all'

      = include_default_scripts

      = render :partial => 'layouts/www/google-analytics'

    %body

      = render partial: 'layouts/www/sign_out'

      = render partial: 'layouts/www/top'

      = render_breadcrumbs

      #content
        = bootstrap_flash
        = yield

      = render partial: 'shared/footer'
