%section#social-media.clearfix
  - unless @tweet.blank? && @tweet.nil?
    .container
      .row
        .span12
          %ul#tweets
            - @tweet.each do |tweet|
              %li.slide
                .twitter-container
                  = image_tag("www/icon-twitter.jpeg", class: "twitter-icon")
                  %p.tweet-content
                    %b
                      = link_to "@#{tweet.user.screen_name}", Config[:www][:social][:twitter][:url], :target => '_blank'rescue "@GobAbiertoSV"
                    \:
                    = raw tweet.text rescue "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lacus nunc, interdum at facilisis id, egestas vitae arcu. Fusce arcu tellus, tristique sed sem sit amet, semper interdum elit."
                    %br
                    = link_to "> Síguenos en twitter", Config[:www][:social][:twitter][:url]

%section#subscribe
  .container
    .row
      .span7
        %p= "Suscríbete y recibe en tu correo electrónico las últimas noticias que acontecen en el portal de Gobierno Abierto"
      .span5
        = form_tag("//gob.us4.list-manage.com/subscribe/post?u=842a2979e525425004e0dc51b&amp;id=50d05e5605", {class: "navbar-form pull-right form-inline"}) do
          %input{class: "input-xlarge", type: "text", name: "email", placeholder: "Correo electrónico" }
          = hidden_field_tag 'b_842a2979e525425004e0dc51b_50d05e5605', ''
          %button{type: "submit", class: "btn btn-primary"}Enviar

%footer
  .container
    .row
      .span4
        = image_tag 'directory/gobierno-de-el-salvador.png'
        %p.contact-info
          ="Presidencia de la República de El Salvador<br>Alameda Dr. Enrique Araujo, No. 5500.<br>San Salvador, El Salvador, CA.<br>Tel. +(503)2133-7500 | Email. info@gobiernoabierto.gob.sv".html_safe
      .span3
        %p.contact-info
          ="Presidencia de la República<br>Alameda Dr. Enrique Araujo, No. 5500.<br>San Salvador, El Salvador, CA.<br>Tel. +(503)2133-7500 <br>Email: info@gobiernoabierto.gob.sv".html_safe
      .span4
        .footer-cc-logo
          = image_tag('alianza/cc-icon.png')
        %p.contact-info
          ="Gobierno Abierto po Secretaría de Participación, Transparencia y Anticorrupción está bajo una licencia de Creative Commons<br>Reconocimiento-CompartirIgual 4.0 Internacional License.".html_safe
      .span1
        .footer-social-media
          = link_to nil do
            = image_tag('alianza/facebook.png')
          = link_to nil do
            = image_tag('alianza/twitter.png')
          = link_to nil do
            = image_tag('alianza/mail.png')
