-#
  #:ruby
  #  visible_categories = @categories.select{ |category| category.inmenu? }
  #  hidden_categories  = @categories.select{ |category| !category.inmenu? }

.navbar
  .navbar-inner.custom-nav
    %div
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to image_tag('alianza/gobierno-abierto-logo.png', class: "logo"), root_url, class: "brand"

      .nav-collapse.collapse.pull-left.navigation-menu
        %ul.nav
          %li= link_to "Quienes somos", general_aga_challenges_url
          -# %li= link_to "Instituciones", information_aga_challenges_url(anchor: "institutions")
          -# %li= link_to "Organizaciones", information_aga_challenges_url(anchor: "organizations")
          %li= link_to "Documentos", documents_url
          - if plans.count > 1
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' }, role: 'button', aria: { haspopup: true, expanded: false } do
                Ver planes anteriores
                %span.caret
              %ul.dropdown-menu
                - plans.each do |p|
                  %li
                    = link_to p.title, root_url(plan: p)

          %li
            = search_form_for @q, url: documents_url, class: 'search-form' do |f|
              = f.search_field :title_or_description_or_datafile_file_name_cont, placeholder: 'Búsqueda', class: 'input-large'
  .clearfix
.clearfix
